<div class="m-help" ng-class="getClass('help')">
	<button class="m-help-btn" ng-click="toggleHelp()">{{getText('help')}}</button>
	<p>Swipe right <span class="no-touch">or click Yes</span> if you think the image and the brand match. Swipe left  <span class="no-touch">or click No</span> if you think they don't</p>
	<p>Buy the products shown on <a href="http://www.net-a-porter.com/intl/Shop/Whats-New" title="www.net-a-porter.com" target="_blank">NET-A-PORTER.com</a></p>
</div>

<div class="m-score">
	<div class="m-score-current">
	{{score}}
	</div>
	<div class="m-score-total">
	{{total}}
	</div>
</div>

<div class="m-result" ng-class="getClass('result')">
	{{getText('result')}}
</div>
<div class="m-lives">
	<span ng-repeat="life in lives track by $index">&#10084;</span>
</div>

<div class="m-game-over" ng-if="isGameOver">
	<h2>You scored {{score}} of {{total}}</h2>     
	<button ng-click="restart()">Play again</button>
	<a twitter="" data-text="I just scored {{score}} {{pluralize(score)}} in the What's new Quiz"></a>
</div>

<div class="m-image-holder">
	<wnq-draggable ng-repeat="product in products" wnq-draggable-left-after="checkAnswer(products[0].manufacturer, question, false)" wnq-draggable-right-after="checkAnswer(products[0].manufacturer, question, true)" product="product.id" result="result" has-touch="$root.hasTouch"></wnq-draggable>
</div>
<div class="m-question">
	{{htmlEncode(question)}}
</div>